body {
  overflow-y: hidden;
}
::selection {
  background: coral;
  color: black;
}
.has-bg-img {
  background: url("medic.jpg");
}

.text-footer {
  background-color: blueviolet;
}
.rohanx {
  color: white;
}
.rohanx:hover {
  color: deeppink;
}

.imgtext {
  vertical-align: middle;
}

.svgcolor {
  filter: invert(86%) sepia(100%) saturate(0%) hue-rotate(32deg)
    brightness(112%) contrast(101%);
}

.contact {
  padding-left: 25%;
}

.grow:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.5);
}

.logoclinic {
  font-size: 120px;
}

.flip3d {
  transition: transform 1s;
}

.flip3d:hover {
  transform: rotateY(180deg);
  transition: transform 1s;
}

.footerbot {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.footer {
  background-color: hsl(204, 86%, 53%);
}
